.title
{
  font-size: 200%;
}

.tempRegisterDiv
{
  margin: auto;
  background-color: #3B5998;
  border: 3px solid #101010;
  color: white;
  width: 450px;
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align:center;
}
.tempLoginDiv
{
  margin: auto;
  background-color: #3B5998;
  border: 3px solid #101010;
  color: white;
  width: 450px;
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align:center;
}
.loginButton
{
  margin: 4px;
  cursor: pointer;
}
.registerButton
{
  margin: 4px;
  cursor: pointer;
}
